P {
  color: pink;
  background-color: lightpink;
}

ul {
  font-family: Ariel;
   font-size: 16pt;
}

ol {
  font-weight: 400;
  font-family: Ariel;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

header {
  font-family: Ariel;
   font-size: 16pt;
}

body {
  font-family: Ariel;
  color: pink;
}

footer {
  color: pink;
  font-size: 12pt;
}
