P {
  color: pink;
  width: 20px;
}

ul {
  font-family: Ariel;
   font-size: 16pt;
}

ol {
  font-weight: 400;
  font-family: Ariel;
}

h1 {
  height: 20px;
  width: 20px;
}

header {
  font-family: Ariel;
   font-size: 16pt;
}

body {
  font-family: Ariel;
  color: pink;
}

footer {
  color: pink;
  width: 20px;
}
